.titolo{
color:yellow;
font-family:Arial;
text-size:15px;
}

body{
background-color:grey;
}

input{
font-family:Impact;
}

.titoli_operatori{
color:blue;
font-family:Arial;
}

.risultato{
color:orange;
font-family:Arial;
}
 